section.new-tweet{
  position: relative;
  top: 520px;
  margin: 0px 100px;
  width: 90%;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
.tweetcard{
  flex-direction: column;
  border-radius: 6px;
}
.new-tweet textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 60px;
}
form {
  height: 150px;
  border-bottom: black 2px solid;
}
#newtweet-text {
  width: 90%;
  background-color: inherit;
  padding: 1.2em;
  margin: 1.2em;
  color: black;
  border: none;
  resize: none;
}
#submitbutton {
  position: relative;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin: 20px;
  background-color: #4056A1;
  color: #fff;  
  font-family: 'Bungee', 'cursive';
}
output.counter {
  position: relative;
  float: right;
  margin: 3em;
  text-align: right;
  font-family: 'Bungee', 'cursive';
}

@media (min-width:1024px) {
  section.new-tweet {
    position: absolute; 
    top: 130px;
    width: 40%;
    left: 50%;
    float: right
  }
}