@mixin vertalign {
  vertical-align: auto;
}
header {
  position: absolute;
  top: 120px;
  height: 400px;
  width: 100%;
  justify-content: center;
  float: left;
  align-items: center;
  background-color: goldenrod;
  z-index: 0;
  text-align: center;
  background-image: url('../images/asfalt-light.png');
}
#profilepic {
  @include vertalign;
}
@media (min-width:1024px) {
    header  {
      width: 50%;     
    } 
  }